<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>REPLACE_WITH_APP_NAME</string>
	<key>projectRoot</key>
	<string>REPLACE_WITH_ABSOLUTE_PROJECT_DIRECTORY</string>
	<key>projectFile</key>
	<string>REPLACE_WITH_PROJECT.xcodeproj</string>
	<key>scheme</key>
	<string>REPLACE_WITH_SCHEME</string>
	<key>configuration</key>
	<string>Debug</string>
	<key>bundleIdentifier</key>
	<string>com.example.replace-me</string>
	<key>teamIdentifier</key>
	<string>REPLACEME0</string>
	<key>buildDeviceUDID</key>
	<string>REPLACE_WITH_XCODE_DESTINATION_ID</string>
	<key>coreDeviceID</key>
	<string>REPLACE_WITH_COREDEVICE_ID</string>
	<key>refreshThresholdSeconds</key>
	<integer>86400</integer>
</dict>
</plist>
